boto3==1.5.22
botocore==1.8.36
coverage==4.4.2
Django==1.11.6
django-appconf==1.0.2
django-cleanup==2.1.0
django-clear-cache==0.3
django-imagekit==4.0.2
django-storages==1.6.5
django-unused-media==0.1.10
docutils==0.14
ExifRead==2.1.2
jmespath==0.9.3
pilkit==2.0
Pillow==5.0.0
python-dateutil==2.6.1
pytz==2017.2
s3transfer==0.1.12
selenium==3.8.1
six==1.11.0
