<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<title>CarriesClass</title>
	<meta charset="utf-8">
	<link href="https://fonts.googleapis.com/css?family=Fugaz+One|Lobster|Pangolin|Permanent+Marker" rel="stylesheet">
		<!-- 'Pangolin', 'Lobster', 'Permanent Marker', 'Fugaz One'. -->
		
	<link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Waiting+for+the+Sunrise|Zeyada" rel="stylesheet">
		
	<link rel="stylesheet" href="{% static 'cc/fullCalendar/styles/fullcalendar.css' %}"> <!-- fullCalendar dependencies * provide link to full calendar plugin -->
	<script src="{% static 'cc/fullCalendar/scripts/jquery.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'cc/fullCalendar/scripts/moment.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'cc/fullCalendar/scripts/fullcalendar.js' %}" type="text/javascript"></script>
	<script src="{% static 'cc/fullCalendar/scripts/gcal.js' %}" type="text/javascript"></script>
	
	<link rel="stylesheet" href="{% static 'cc/styles/main.css' %}" type="text/css"/> <!-- main style sheet -->
	
	<script type="text/javascript"> 
		$(document).ready(function() {
			
			$('#calendar').fullCalendar({
				googleCalendarApiKey: 'AIzaSyCeqxLc4d61bmrRIEMXLmm3ub12Cm8kCW0',
				events: {
					googleCalendarId: 'smq2sqv1jpgausbjqgl0dc4vtk@group.calendar.google.com',
					color: 'cornflowerblue',
					className: 'calendarEvents'
				},
				allDayDefault: true,
				editable: false,
				header: {
					left: '',
					center: 'prev, title, next',
					right: '',
				},
				buttonIcons: {
					prev: 'my-previous',
					next: 'my-next',
				},
				eventClick: function(calEvent, jsEvent, view) {
					return false;
				},
				fixedWeekCount: false,
				eventMouseover: function (data, event, view) {

					tooltip = '<div class="hover-text-container" style="font-size:' + $(this).css('font-size') + ';line-height:'+ $(this).css('line-height') +';"><div class="hover-text-title">' + data.title + '</div><div class="hover-text-description"><p>' + data.description + '</p></div></div>';
						
					var p = $(this).offset();
					var w = $(this).width()/2;
					
					$("body").append(tooltip);
					$(this).css('z-index', 1);
					$('.hover-text-container').fadeIn('500');
					$('.hover-text-container').fadeTo('10', 1.9);
					$('.hover-text-container').css('top', p.top + $(this).height() + 15);
					$('.hover-text-container').css('left', p.left + $(this).width()/2 - $('.hover-text-container').width()/2);
				},
				eventMouseout: function (data, event, view) {
					$(this).css('z-index', 3);
					$('.hover-text-container').remove();
        		},
			});
			
			//This is awesome, I don't exactly understand how it works.  Got it from < https://stackoverflow.com/questions/454202/creating-a-textarea-with-auto-resize>, 'A Completely Simlple...' >.  It makes the size of the textarea scale with the content.
			$('textarea').each(function () {
					this.setAttribute('style', 'height:' + (this.scrollHeight) + 'px;overflow-y:hidden;');
				}).on('input', function () {
					this.style.height = 'auto';
					this.style.height = (this.scrollHeight) + 'px';
				});
			
			//This avoids some string encoding problems. 
			$('textarea').val( JSON.parse("{{ monthly_post_text_json|escapejs }}"))
			$('#monthly-header-form').val( JSON.parse(" {{ monthly_post_title_json|escapejs }}"))
			
		});	
		
	//This disables the 'Enter' key from submitting forms, and instead makes it clear focus <unless you are editing the header, then it makes 
	//the focus shift down to the textarea. 
	$(document).keypress(function(event){
    	if (event.which == '13' && $('#monthly-header-form').is(':focus')) {
        	event.preventDefault();
			$('#monthly-header-form').blur();
			$('#monthly-text-form').focus();
      	}
	});

	</script>
</head>
<body>
<div class="site-border"></div>
<div class="site-body">
	<div class="upper-wrapper">
		<div class="header-and-image">
			<div class="header-gap"></div>
			<div class="header-welcome"><span id="header-text">Carrie's Class</span></div>
			<div class="header-image-gap"></div>
			<div class="page-image"></div>
		</div>
		<div class="navbar">
			<div class="navbar-layout">
				<div class="navitem active"><a class="anchor" name="home_lnk" href="{% url 'home' %}">Home</a></div>
				<div class="navitem"><a class="anchor" name="math_lnk" href="{% url 'math' %}">Math</a></div>
				<div class="navitem"><a class="anchor" name= "bio_lnk" href="{% url 'bio' %}">Bio</a></div>
				<div class="navitem"><a class="anchor" name= "parents_lnk" href="{% url 'parents' %}">Parents</a></div>
				<div class="navitem"><a class="anchor" name= "links_lnk" href="{% url 'links' %}">Links</a></div>
				<div class="navitem"><a class="anchor" name= "photos_lnk" href="{% url 'photos' %}">Photos</a></div>
			</div>
		</div>
	</div>
	<div class="lower-wrapper">
		<div class="maincontent">
			{% if request.user.username == 'parent' %}
			<div id="monthly-post" class="monthly-post">
				<h2 class="monthly-header"> {{ monthly_post.title }} </h2>
				<p class="paragraphtext monthly-text"> {{ monthly_post.text }} </p>
			</div>
			{% endif %}
			{% if request.user.username == 'carrieUser' %}
			<div id="monthly-post-form-div" class="monthly-post">
				<form class="monthly-post-form" action="/" method="post">
					{% csrf_token %}
					{% for field in form %}
						{{ field }}
					{% endfor %}
					<div class="monthly-post-button-wrapper">
						<input type="submit" name="save" value="Save" class="monthly-post-form-save">
						<input type="submit" name="new" value="New" class="monthly-post-form-new">
					</div>
				</form>
			</div>
			{% endif %}
			<div id="homework">
				<h2 id="homework-header"></h2>
				<div id="calendar"></div>
			</div>
		</div>
	</div>
	<div id="lowest-banner-image"></div>
	<a href="{% url 'login' %}">
		<button id="logout-float" class="monthly-post-form-save">logout</button>
	</a>
</div>
<div class="site-border"></div>
</body>
</html>
